<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Here's Your Ping-Pong!</title>
</head>
<body>
    <div class="container">
        {% if error_message %}
            <h1>{{ error_message }}</h1>
        {% else %}
            {% if num_arr %}
                <h1>Here's your Ping-Pong:</h1>
                <ul>
                    {% for num in num_arr %}
                        <li>{{ num }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
</body>
</html>
