<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Let's Play Ping-Pong!</title>
</head>
<body>
    <div class='container'>
        <h1>Let's Play Ping-Pong!</h1>
        <form action='/view_ping_pong'>
            <div class='form-group'>
              <label for='num'>Enter a number: </label>
              <input id='num' name='num' class='form-control' type='text'>
            </div>
            <button type='submit' class='btn-success'>Ping me!</button>
        </form>
    </div>
</body>
</html>
